h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #fdd7a6;
}
.cardList {
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 60%;
 margin-bottom: 5em;
}

.masterCardList {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 699px) {
  .cardList {
    justify-content: space-evenly;
  }
}