h1 {
  display: flex;
  justify-content: center;
  align-content: center;
}
.cardList {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 70%;
}

.masterCardList {
  display: flex;
  justify-content: center;
  align-items: center;
}
