@font-face {
  font-family: "EagleLake-Regular";
  src: url("../fonts/EagleLake-Regular.ttf");
}

body {
  font-family: "EagleLake-Regular";
  background-color: #1b1b1b;
}
navLink{
  text-decoration: none;
}
