@font-face {
  font-family: "EagleLake-Regular";
  src: url("../fonts/EagleLake-Regular.ttf");
}

body {
  height: 100%;
  width: 100vw;
  font-family: "EagleLake-Regular";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
}
